@tailwind base;
@tailwind components;
@tailwind utilities;
/* .gradientGreen{
    @apply bg-clip-text bg-gradient-to-r from-[#9fef00] to-black inline;
} */


.primary-color {
    /* @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-purple-400 inline-block; */
    @apply text-transparent bg-clip-text bg-[#9fef00] inline-block;
}

.secondary-color{
    @apply text-[#A4B1CDff];
}
.tertiary-color{
    @apply text-[#141d2b];
}


.bg-primary-color {
    @apply   bg-[#9fef00] ;
}
.bg-secondary-color{
    @apply   bg-[#0b121f] ;
}
.bg-tertiary-color{
    @apply   bg-[#A4B1CDff] ;
}
.bg-fourth-color{
    @apply   bg-[#1A2332ff] ;
}
body{
    @apply bg-[#0b121f];
}

.fade-effect{
    @apply text-transparent bg-clip-text  inline-block;
    @apply bg-gradient-to-b from-[#A4B1CDff] to-[#a4b1cd19] 
    
}

/* CSS HEX
--powder-blue: #A4B1CDff;
--black: #000000ff;
--rich-black: #0B121Fff;
--raisin-black: #1A2332ff;
--rich-black-2: #141D2Bff; */


